{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ include('default/_table.html.twig', {'books': books}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="{{ path('book_new') }}"><button type="button" class="btn btn-primary">Add new book</button></a>
            </div>
        </div>
    </div>
{% endblock %}
