{% extends 'base.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ include('default/_table.html.twig', {'books': [book]}) }}
            </div>
        </div>
    </div>
{% endblock %}
